* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}

.user-input,
.pass-input,
.number-input {
  display: none;
}

/*-----CLASS LIST active-----*/
.user-input-true {
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
}
.pass-input-true {
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
}
.number-input-true {
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
}
.btn {
  font-family: sans-serif !important;
  font-size: 17px !important;
  border: none !important;
  outline: none !important;
}
.btn:hover {
  background-color: orange !important;
  border: none !important;
  outline: none !important;
}
/* @media screen and (max-width: 768px) {
  p {
    background-color: blue;
    padding: 20px;
    text-align: justify;
  }
} */
